@use '@/shared/mixins' as *;

.image {
  width: 100%;
  height: auto;
  min-height: 206px;
  max-height: 330px;
  object-fit: cover;
  vertical-align: top;
  @include media-tablet {
    max-width: 625px;
  }
}
