@use '@/shared/mixins' as *;

.trends {
  padding-bottom: 50px;
  @include media-desktop {
    padding-bottom: 100px;
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 19px;
    padding: 18px 0 19px;
    border-bottom: 2px solid rgba($color: #1e1e1e, $alpha: 0.8);
    @include media-desktop {
      margin-bottom: 33px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  &__slide {
    width: max-content;
    transition: opacity var(--time-slide-opacity);
    &:not(:global(.swiper-slide-fully-visible)) {
      opacity: 0.3;
    }
  }

  &__button {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity var(--time-hover-main);
    @include effect-focus-outline;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &_prev {
      background-image: url('/icons/arrow-left.svg');
    }
    &_next {
      background-image: url('/icons/arrow-right.svg');
    }
  }

  &__line {
    display: none;
    @include media-desktop {
      display: revert;
      position: absolute;
      width: 2px;
      height: 21px;
      background-color: rgba($color: #1e1e1e, $alpha: 0.8);
    }
    &_first {
      bottom: -21px;
      left: 424px;
    }
    &_second {
      bottom: -21px;
      left: 874px;
    }
  }
}
